In [5]:
import pandas as pd
from db_utils import RDSDatabaseConnector
from transform_data import DataTransform

In [6]:
credentials = RDSDatabaseConnector.yaml_creds_loader()
database = RDSDatabaseConnector(credentials)
database.save_df_to_csv()

In [7]:
df = pd.read_csv('loan_payments.csv')
pd.set_option('display.max_columns', None)
df.drop(columns=['Unnamed: 0'], inplace=True) # This column was a duplicate of the record id's so it makes sense to drop it.

In [8]:
df

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,employment_length,home_ownership,annual_inc,verification_status,issue_date,loan_status,payment_plan,purpose,dti,delinq_2yrs,earliest_credit_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_accounts,total_accounts,out_prncp,out_prncp_inv,total_payment,total_payment_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,5 years,MORTGAGE,46000.0,Not Verified,Jan-2021,Current,n,credit_card,19.54,2,Oct-1987,1,5.0,NaN,12,27,5529.70,5529.70,2982.51,2982.51,2470.30,512.21,0.000000,0.00,0.00,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,9 years,RENT,50000.0,Not Verified,Jan-2021,Current,n,credit_card,24.20,0,Sep-2001,0,NaN,NaN,15,31,9102.83,9102.83,4885.11,4885.11,4097.17,787.94,0.000000,0.00,0.00,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,8 years,MORTGAGE,73913.0,Source Verified,Jan-2021,Fully Paid,n,credit_card,16.92,0,Sep-1998,0,69.0,NaN,7,18,0.00,0.00,16824.54,16824.54,16000.00,824.54,0.000000,0.00,0.00,Oct-2021,12850.16,NaN,Oct-2021,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,1 year,RENT,42000.0,Source Verified,Jan-2021,Fully Paid,n,debt_consolidation,35.52,0,Jun-2008,0,74.0,NaN,6,13,0.00,0.00,15947.47,15947.47,15000.00,947.47,0.000000,0.00,0.00,Jun-2021,13899.67,NaN,Jun-2021,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,10+ years,MORTGAGE,145000.0,Verified,Jan-2021,Current,n,debt_consolidation,3.33,0,Apr-2002,1,37.0,NaN,23,50,10297.47,10297.47,5473.46,5473.46,4702.53,770.93,0.000000,0.00,0.00,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,76597,76583,5000,5000.0,1775.0,36 months,9.01,159.03,B,B2,1 year,MORTGAGE,250000.0,Not Verified,Jul-2013,Fully Paid,n,other,10.00,2,Apr-2003,0,5.0,NaN,5,7,0.00,0.00,5724.82,2032.29,5000.00,724.82,0.000000,0.00,0.00,Jul-2016,160.61,NaN,Jul-2016,NaN,NaN,1,INDIVIDUAL
54227,142608,74724,5000,5000.0,2350.0,36 months,10.59,162.73,C,C2,< 1 year,RENT,15000.0,Not Verified,Oct-2013,Fully Paid,n,other,24.40,0,Jan-1999,3,0.0,0.0,6,6,0.00,0.00,5931.25,2787.47,5000.00,826.31,104.942381,0.00,0.00,Oct-2016,490.01,NaN,Sep-2016,0.0,NaN,1,INDIVIDUAL
54228,117045,70978,3500,3500.0,2225.0,36 months,7.43,108.77,A,A2,10+ years,MORTGAGE,300000.0,Not Verified,Aug-2013,Does not meet the credit policy. Status:Fully ...,n,debt_consolidation,1.00,0,Feb-1984,0,NaN,NaN,8,18,0.00,0.00,3915.37,2489.01,3500.00,415.37,0.000000,0.00,0.00,Sep-2016,110.58,Sep-2016,May-2013,NaN,NaN,1,INDIVIDUAL
54229,88854,70699,5000,5000.0,225.0,36 months,7.43,155.38,A,A2,4 years,RENT,200000.0,Not Verified,Aug-2013,Fully Paid,n,house,0.28,0,Mar-1995,0,0.0,0.0,2,2,0.00,0.00,5174.18,232.84,5000.00,174.18,0.000000,0.00,0.00,Mar-2014,0.00,NaN,May-2013,NaN,NaN,1,INDIVIDUAL
54230,72323,70694,5000,5000.0,350.0,36 months,11.54,164.98,C,C5,9 years,MORTGAGE,55000.0,Not Verified,Jul-2013,Does not meet the credit policy. Status:Charge...,n,other,10.00,0,Oct-1998,4,NaN,NaN,6,13,0.00,0.00,1501.19,104.60,966.58,352.34,0.000000,182.27,1.84,Mar-2014,164.97,Dec-2014,Jan-2015,NaN,NaN,1,INDIVIDUAL

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  object
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  object
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  object
 14  issue_date                   54231 non-null  object
 15  loan_status                  54231 non-null  object
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  object
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: float64(20), int64(8), object(15)
memory usage: 17.8+ MB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,54231.0,7.621797e+06,9.571362e+06,55521.00,759433.000,7084590.00,8.860616e+06,3.867612e+07
member_id,54231.0,8.655350e+06,1.031281e+07,70694.00,958772.000,8709873.00,1.052714e+07,4.146185e+07
loan_amount,54231.0,1.333308e+04,8.082197e+03,500.00,7000.000,12000.00,1.800000e+04,3.500000e+04
funded_amount,51224.0,1.322951e+04,8.019018e+03,500.00,7000.000,12000.00,1.800000e+04,3.500000e+04
funded_amount_inv,54231.0,1.295262e+04,8.099474e+03,0.00,6700.000,11300.00,1.800000e+04,3.500000e+04
int_rate,49062.0,1.350733e+01,4.392893e+00,5.42,10.370,13.16,1.620000e+01,2.606000e+01
instalment,54231.0,4.000140e+02,2.389200e+02,15.67,224.205,347.15,5.275500e+02,1.407010e+03
annual_inc,54231.0,7.222085e+04,5.158934e+04,3300.00,45000.000,61000.00,8.600000e+04,2.039784e+06
dti,54231.0,1.586709e+01,7.623124e+00,0.00,10.200,15.60,2.126000e+01,3.991000e+01
delinq_2yrs,54231.0,2.417990e-01,7.067062e-01,0.00,0.000,0.00,0.000000e+00,1.800000e+01
inq_last_6mths,54231.0,8.938430e-01,1.261421e+00,0.00,0.000,1.00,1.000000e+00,3.300000e+01
mths_since_last_delinq,23229.0,3.401920e+01,2.192324e+01,0.00,15.000,31.00,4.900000e+01,1.460000e+02
mths_since_last_record,6181.0,7.482915e+01,3.613726e+01,0.00,53.000,87.00,1.030000e+02,1.190000e+02
open_accounts,54231.0,1.055981e+01,4.797169e+00,1.00,7.000,10.00,1.300000e+01,5.300000e+01
total_accounts,54231.0,2.416821e+01,1.158703e+01,1.00,16.000,23.00,3.100000e+01,1.080000e+02
out_prncp,54231.0,2.753964e+03,5.154894e+03,0.00,0.000,0.00,3.397325e+03,3.239994e+04
out_prncp_inv,54231.0,2.752568e+03,5.153044e+03,0.00,0.000,0.00,3.394980e+03,3.239994e+04
total_payment,54231.0,1.207921e+04,8.391044e+03,0.00,5895.210,10113.25,1.627290e+04,5.575822e+04
total_payment_inv,54231.0,1.178895e+04,8.363509e+03,0.00,5658.815,9835.83,1.597820e+04,5.506100e+04
total_rec_prncp,54231.0,9.407049e+03,6.958124e+03,0.00,4264.350,7644.92,1.250562e+04,3.500002e+04
total_rec_int,54231.0,2.577757e+03,2.581657e+03,0.00,889.560,1734.64,3.323765e+03,2.306245e+04
total_rec_late_fee,54231.0,9.015119e-01,6.215792e+00,0.00,0.000,0.00,0.000000e+00,3.586800e+02
recoveries,54231.0,9.350129e+01,6.308436e+02,0.00,0.000,0.00,0.000000e+00,2.775000e+04
collection_recovery_fee,54231.0,1.085906e+01,1.201939e+02,0.00,0.000,0.00,0.000000e+00,7.002190e+03
last_payment_amount,54231.0,3.130706e+03,5.323802e+03,0.00,289.790,562.67,3.738120e+03,3.611520e+04
collections_12_mths_ex_med,54180.0,4.208195e-03,7.099015e-02,0.00,0.000,0.00,0.000000e+00,4.000000e+00
mths_since_last_major_derog,7499.0,4.225363e+01,2.105236e+01,0.00,26.000,42.00,5.900000e+01,1.460000e+02
policy_code,54231.0,1.000000e+00,0.000000e+00,1.00,1.000,1.00,1.000000e+00,1.000000e+00