In [1]:
import pandas as pd
from db_utils import RDSDatabaseConnector 
from transform_data import DataTransform
from get_information import DataFrameInfo
import missingno as msno

In [2]:
credentials = RDSDatabaseConnector.yaml_creds_loader()
database = RDSDatabaseConnector(credentials)
database.save_df_to_csv()

In [3]:
df = pd.read_csv('loan_payments.csv')
pd.set_option('display.max_columns', None)
df

,Unnamed: 0,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,employment_length,home_ownership,annual_inc,verification_status,issue_date,loan_status,payment_plan,purpose,dti,delinq_2yrs,earliest_credit_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_accounts,total_accounts,out_prncp,out_prncp_inv,total_payment,total_payment_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,5 years,MORTGAGE,46000.0,Not Verified,Jan-2021,Current,n,credit_card,19.54,2,Oct-1987,1,5.0,NaN,12,27,5529.70,5529.70,2982.51,2982.51,2470.30,512.21,0.000000,0.00,0.00,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.0,1,INDIVIDUAL
1,1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,9 years,RENT,50000.0,Not Verified,Jan-2021,Current,n,credit_card,24.20,0,Sep-2001,0,NaN,NaN,15,31,9102.83,9102.83,4885.11,4885.11,4097.17,787.94,0.000000,0.00,0.00,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
2,2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,8 years,MORTGAGE,73913.0,Source Verified,Jan-2021,Fully Paid,n,credit_card,16.92,0,Sep-1998,0,69.0,NaN,7,18,0.00,0.00,16824.54,16824.54,16000.00,824.54,0.000000,0.00,0.00,Oct-2021,12850.16,NaN,Oct-2021,0.0,NaN,1,INDIVIDUAL
3,3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,1 year,RENT,42000.0,Source Verified,Jan-2021,Fully Paid,n,debt_consolidation,35.52,0,Jun-2008,0,74.0,NaN,6,13,0.00,0.00,15947.47,15947.47,15000.00,947.47,0.000000,0.00,0.00,Jun-2021,13899.67,NaN,Jun-2021,0.0,NaN,1,INDIVIDUAL
4,4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,10+ years,MORTGAGE,145000.0,Verified,Jan-2021,Current,n,debt_consolidation,3.33,0,Apr-2002,1,37.0,NaN,23,50,10297.47,10297.47,5473.46,5473.46,4702.53,770.93,0.000000,0.00,0.00,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,54226,76597,76583,5000,5000.0,1775.0,36 months,9.01,159.03,B,B2,1 year,MORTGAGE,250000.0,Not Verified,Jul-2013,Fully Paid,n,other,10.00,2,Apr-2003,0,5.0,NaN,5,7,0.00,0.00,5724.82,2032.29,5000.00,724.82,0.000000,0.00,0.00,Jul-2016,160.61,NaN,Jul-2016,NaN,NaN,1,INDIVIDUAL
54227,54227,142608,74724,5000,5000.0,2350.0,36 months,10.59,162.73,C,C2,< 1 year,RENT,15000.0,Not Verified,Oct-2013,Fully Paid,n,other,24.40,0,Jan-1999,3,0.0,0.0,6,6,0.00,0.00,5931.25,2787.47,5000.00,826.31,104.942381,0.00,0.00,Oct-2016,490.01,NaN,Sep-2016,0.0,NaN,1,INDIVIDUAL
54228,54228,117045,70978,3500,3500.0,2225.0,36 months,7.43,108.77,A,A2,10+ years,MORTGAGE,300000.0,Not Verified,Aug-2013,Does not meet the credit policy. Status:Fully ...,n,debt_consolidation,1.00,0,Feb-1984,0,NaN,NaN,8,18,0.00,0.00,3915.37,2489.01,3500.00,415.37,0.000000,0.00,0.00,Sep-2016,110.58,Sep-2016,May-2013,NaN,NaN,1,INDIVIDUAL
54229,54229,88854,70699,5000,5000.0,225.0,36 months,7.43,155.38,A,A2,4 years,RENT,200000.0,Not Verified,Aug-2013,Fully Paid,n,house,0.28,0,Mar-1995,0,0.0,0.0,2,2,0.00,0.00,5174.18,232.84,5000.00,174.18,0.000000,0.00,0.00,Mar-2014,0.00,NaN,May-2013,NaN,NaN,1,INDIVIDUAL
54230,54230,72323,70694,5000,5000.0,350.0,36 months,11.54,164.98,C,C5,9 years,MORTGAGE,55000.0,Not Verified,Jul-2013,Does not meet the credit policy. Status:Charge...,n,other,10.00,0,Oct-1998,4,NaN,NaN,6,13,0.00,0.00,1501.19,104.60,966.58,352.34,0.000000,182.27,1.84,Mar-2014,164.97,Dec-2014,Jan-2015,NaN,NaN,1,INDIVIDUAL

# Converting Column Datatypes
a lot of these columns are not formatted to the correct dtype which you can see from the df.info() below. To remedy this I will convert a lot of these columns which can be formatted correctly using my transform_data module

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 44 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   54231 non-null  int64
 1   id                           54231 non-null  int64
 2   member_id                    54231 non-null  int64
 3   loan_amount                  54231 non-null  int64
 4   funded_amount                51224 non-null  float64
 5   funded_amount_inv            54231 non-null  float64
 6   term                         49459 non-null  object
 7   int_rate                     49062 non-null  float64
 8   instalment                   54231 non-null  float64
 9   grade                        54231 non-null  object
 10  sub_grade                    54231 non-null  object
 11  employment_length            52113 non-null  object
 12  home_ownership               54231 non-null  object
 13  annual_inc                   54231 non-null  float64
 14  verification_status          54231 non-null  object
 15  issue_date                   54231 non-null  object
 16  loan_status                  54231 non-null  object
 17  payment_plan                 54231 non-null  object
 18  purpose                      54231 non-null  object
 19  dti                          54231 non-null  float64
 20  delinq_2yrs                  54231 non-null  int64
 21  earliest_credit_line         54231 non-null  object
 22  inq_last_6mths               54231 non-null  int64
 23  mths_since_last_delinq       23229 non-null  float64
 24  mths_since_last_record       6181 non-null   float64
 25  open_accounts                54231 non-null  int64
 26  total_accounts               54231 non-null  int64
 27  out_prncp                    54231 non-null  float64
 28  out_prncp_inv                54231 non-null  float64
 29  total_payment                54231 non-null  float64
 30  total_payment_inv            54231 non-null  float64
 31  total_rec_prncp              54231 non-null  float64
 32  total_rec_int                54231 non-null  float64
 33  total_rec_late_fee           54231 non-null  float64
 34  recoveries                   54231 non-null  float64
 35  collection_recovery_fee      54231 non-null  float64
 36  last_payment_date            54158 non-null  object
 37  last_payment_amount          54231 non-null  float64
 38  next_payment_date            21623 non-null  object
 39  last_credit_pull_date        54224 non-null  object
 40  collections_12_mths_ex_med   54180 non-null  float64
 41  mths_since_last_major_derog  7499 non-null   float64
 42  policy_code                  54231 non-null  int64
 43  application_type             54231 non-null  object
dtypes: float64(20), int64(9), object(15)
memory usage: 18.2+ MB

In [5]:
DataTransform.convert_columns(df)

# Dataframe information
in this segment I will be looking into the dataframe itself and try and generate useful information about the DataFrame

In [6]:
DataFrameInfo.datatypes(df)

Unnamed: 0                              int64
id                                      int64
member_id                               int64
loan_amount                             int64
funded_amount                         float64
funded_amount_inv                     float64
term                                   object
int_rate                              float64
instalment                            float64
grade                                category
sub_grade                            category
employment_length                      object
home_ownership                       category
annual_inc                            float64
verification_status                  category
issue_date                     datetime64[ns]
loan_status                          category
payment_plan                             bool
purpose                              category
dti                                   float64
delinq_2yrs                             int64
earliest_credit_line           datetime64[ns]
inq_last_6mths                          int64
mths_since_last_delinq                float64
mths_since_last_record                float64
open_accounts                           int64
total_accounts                          int64
out_prncp                             float64
out_prncp_inv                         float64
total_payment                         float64
total_payment_inv                     float64
total_rec_prncp                       float64
total_rec_int                         float64
total_rec_late_fee                    float64
recoveries                            float64
collection_recovery_fee               float64
last_payment_date              datetime64[ns]
last_payment_amount                   float64
next_payment_date              datetime64[ns]
last_credit_pull_date          datetime64[ns]
collections_12_mths_ex_med            float64
mths_since_last_major_derog           float64
policy_code                             int64
application_type                     category
dtype: object

In [7]:
DataFrameInfo.statistics(df)

,count,mean,min,25%,50%,75%,max,std
Unnamed: 0,54231.0,27115.0,0.0,13557.5,27115.0,40672.5,54230.0,15655.285561
id,54231.0,7621797.476277,55521.0,759433.0,7084590.0,8860616.5,38676116.0,9571361.647372
member_id,54231.0,8655349.927993,70694.0,958772.0,8709873.0,10527137.0,41461848.0,10312806.882093
loan_amount,54231.0,13333.0761,500.0,7000.0,12000.0,18000.0,35000.0,8082.196709
funded_amount,51224.0,13229.509117,500.0,7000.0,12000.0,18000.0,35000.0,8019.017599
funded_amount_inv,54231.0,12952.622979,0.0,6700.0,11300.0,18000.0,35000.0,8099.473527
int_rate,49062.0,13.507328,5.42,10.37,13.16,16.2,26.06,4.392893
instalment,54231.0,400.013953,15.67,224.205,347.15,527.55,1407.01,238.920012
annual_inc,54231.0,72220.848249,3300.0,45000.0,61000.0,86000.0,2039784.0,51589.339577
issue_date,54231,2018-09-17 11:41:04.855894272,2013-06-01 00:00:00,2017-05-01 00:00:00,2019-09-01 00:00:00,2019-11-01 00:00:00,2021-01-01 00:00:00,NaN
dti,54231.0,15.867087,0.0,10.2,15.6,21.26,39.91,7.623124
delinq_2yrs,54231.0,0.241799,0.0,0.0,0.0,0.0,18.0,0.706706
earliest_credit_line,54231,1997-06-06 07:12:44.131216512,1950-12-01 00:00:00,1993-12-01 00:00:00,1998-10-01 00:00:00,2002-04-01 00:00:00,2011-11-01 00:00:00,NaN
inq_last_6mths,54231.0,0.893843,0.0,0.0,1.0,1.0,33.0,1.261421
mths_since_last_delinq,23229.0,34.0192,0.0,15.0,31.0,49.0,146.0,21.92324
mths_since_last_record,6181.0,74.829154,0.0,53.0,87.0,103.0,119.0,36.137264
open_accounts,54231.0,10.559809,1.0,7.0,10.0,13.0,53.0,4.797169
total_accounts,54231.0,24.168206,1.0,16.0,23.0,31.0,108.0,11.587025
out_prncp,54231.0,2753.964172,0.0,0.0,0.0,3397.325,32399.94,5154.893646
out_prncp_inv,54231.0,2752.568147,0.0,0.0,0.0,3394.98,32399.94,5153.043643
total_payment,54231.0,12079.20848,0.0,5895.21,10113.25,16272.895,55758.222084,8391.043845
total_payment_inv,54231.0,11788.946618,0.0,5658.815,9835.83,15978.2,55061.0,8363.508506
total_rec_prncp,54231.0,9407.048589,0.0,4264.35,7644.92,12505.625,35000.02,6958.124264
total_rec_int,54231.0,2577.757101,0.0,889.56,1734.64,3323.765,23062.45,2581.657345
total_rec_late_fee,54231.0,0.901512,0.0,0.0,0.0,0.0,358.68,6.215792
recoveries,54231.0,93.501288,0.0,0.0,0.0,0.0,27750.0,630.843636
collection_recovery_fee,54231.0,10.859057,0.0,0.0,0.0,0.0,7002.19,120.19395
last_payment_date,54158,2020-08-23 00:21:38.600391680,2013-12-01 00:00:00,2019-11-01 00:00:00,2021-04-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,NaN
last_payment_amount,54231.0,3130.706393,0.0,289.79,562.67,3738.12,36115.2,5323.801675
next_payment_date,21623,2021-10-18 16:47:47.613189632,2014-01-01 00:00:00,2022-02-01 00:00:00,2022-02-01 00:00:00,2022-02-01 00:00:00,2022-02-01 00:00:00,NaN
last_credit_pull_date,54224,2021-04-15 16:16:28.964296192,2013-05-01 00:00:00,2021-02-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,NaN
collections_12_mths_ex_med,54180.0,0.004208,0.0,0.0,0.0,0.0,4.0,0.07099
mths_since_last_major_derog,7499.0,42.253634,0.0,26.0,42.0,59.0,146.0,21.05236
policy_code,54231.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0

In [8]:
DataFrameInfo.percent_null(df)

,Unnamed: 0,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,employment_length,home_ownership,annual_inc,verification_status,issue_date,loan_status,payment_plan,purpose,dti,delinq_2yrs,earliest_credit_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_accounts,total_accounts,out_prncp,out_prncp_inv,total_payment,total_payment_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.001844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001844,0.001844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.001844,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.001844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001844,0.0,0.000000,0.001844,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.001844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001844,0.0,0.000000,0.001844,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.001844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.001844,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.001844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001844,0.0,0.001844,0.001844,0.0,0.0
54227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001844,0.0,0.000000,0.001844,0.0,0.0
54228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001844,0.001844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.001844,0.001844,0.0,0.0
54229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001844,0.0,0.001844,0.001844,0.0,0.0
54230,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001844,0.001844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.001844,0.001844,0.0,0.0

# Dropping Columns
We can see "Unnamed: 0" is equal to the id, so we can safely drop this column and just refer to the id.
The policy_code column is just filled with 1, thus we can safely drop this column.