In [1]:
import pandas as pd
from db_utils import RDSDatabaseConnector
from transform_data import DataTransform

In [2]:
credentials = RDSDatabaseConnector.yaml_creds_loader()
database = RDSDatabaseConnector(credentials)
database.save_df_to_csv()

In [3]:
df = pd.read_csv('loan_payments.csv')
pd.set_option('display.max_columns', None)
df.drop(columns=['Unnamed: 0'], inplace=True) # This column was a duplicate of the record id's so it makes sense to drop it.

In [4]:
df.info()
print(set(df['grade']), set(df['sub_grade']), set(df['home_ownership']))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  object
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  object
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  object
 14  issue_date                   54231 non-null  object
 15  loan_status                  54231 non-null  object
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  object
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: float64(20), int64(8), object(15)
memory usage: 17.8+ MB
{'B', 'D', 'E', 'A', 'C', 'F', 'G'} {'C5', 'D3', 'B4', 'D1', 'G4', 'C2', 'A5', 'A1', 'B3', 'B1', 'B2', 'C4', 'F2', 'F5', 'D5', 'A2', 'E1', 'E3', 'F1', 'C1', 'D2', 'E4', 'E2', 'B5', 'G3', 'A4', 'E5', 'F4', 'D4', 'G1', 'F3', 'G5', 'C3', 'G2', 'A3'} {'MORTGAGE', 'RENT', 'NONE', 'OTHER', 'OWN'}

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,54231.0,7.621797e+06,9.571362e+06,55521.00,759433.000,7084590.00,8.860616e+06,3.867612e+07
member_id,54231.0,8.655350e+06,1.031281e+07,70694.00,958772.000,8709873.00,1.052714e+07,4.146185e+07
loan_amount,54231.0,1.333308e+04,8.082197e+03,500.00,7000.000,12000.00,1.800000e+04,3.500000e+04
funded_amount,51224.0,1.322951e+04,8.019018e+03,500.00,7000.000,12000.00,1.800000e+04,3.500000e+04
funded_amount_inv,54231.0,1.295262e+04,8.099474e+03,0.00,6700.000,11300.00,1.800000e+04,3.500000e+04
int_rate,49062.0,1.350733e+01,4.392893e+00,5.42,10.370,13.16,1.620000e+01,2.606000e+01
instalment,54231.0,4.000140e+02,2.389200e+02,15.67,224.205,347.15,5.275500e+02,1.407010e+03
annual_inc,54231.0,7.222085e+04,5.158934e+04,3300.00,45000.000,61000.00,8.600000e+04,2.039784e+06
dti,54231.0,1.586709e+01,7.623124e+00,0.00,10.200,15.60,2.126000e+01,3.991000e+01
delinq_2yrs,54231.0,2.417990e-01,7.067062e-01,0.00,0.000,0.00,0.000000e+00,1.800000e+01
inq_last_6mths,54231.0,8.938430e-01,1.261421e+00,0.00,0.000,1.00,1.000000e+00,3.300000e+01
mths_since_last_delinq,23229.0,3.401920e+01,2.192324e+01,0.00,15.000,31.00,4.900000e+01,1.460000e+02
mths_since_last_record,6181.0,7.482915e+01,3.613726e+01,0.00,53.000,87.00,1.030000e+02,1.190000e+02
open_accounts,54231.0,1.055981e+01,4.797169e+00,1.00,7.000,10.00,1.300000e+01,5.300000e+01
total_accounts,54231.0,2.416821e+01,1.158703e+01,1.00,16.000,23.00,3.100000e+01,1.080000e+02
out_prncp,54231.0,2.753964e+03,5.154894e+03,0.00,0.000,0.00,3.397325e+03,3.239994e+04
out_prncp_inv,54231.0,2.752568e+03,5.153044e+03,0.00,0.000,0.00,3.394980e+03,3.239994e+04
total_payment,54231.0,1.207921e+04,8.391044e+03,0.00,5895.210,10113.25,1.627290e+04,5.575822e+04
total_payment_inv,54231.0,1.178895e+04,8.363509e+03,0.00,5658.815,9835.83,1.597820e+04,5.506100e+04
total_rec_prncp,54231.0,9.407049e+03,6.958124e+03,0.00,4264.350,7644.92,1.250562e+04,3.500002e+04
total_rec_int,54231.0,2.577757e+03,2.581657e+03,0.00,889.560,1734.64,3.323765e+03,2.306245e+04
total_rec_late_fee,54231.0,9.015119e-01,6.215792e+00,0.00,0.000,0.00,0.000000e+00,3.586800e+02
recoveries,54231.0,9.350129e+01,6.308436e+02,0.00,0.000,0.00,0.000000e+00,2.775000e+04
collection_recovery_fee,54231.0,1.085906e+01,1.201939e+02,0.00,0.000,0.00,0.000000e+00,7.002190e+03
last_payment_amount,54231.0,3.130706e+03,5.323802e+03,0.00,289.790,562.67,3.738120e+03,3.611520e+04
collections_12_mths_ex_med,54180.0,4.208195e-03,7.099015e-02,0.00,0.000,0.00,0.000000e+00,4.000000e+00
mths_since_last_major_derog,7499.0,4.225363e+01,2.105236e+01,0.00,26.000,42.00,5.900000e+01,1.460000e+02
policy_code,54231.0,1.000000e+00,0.000000e+00,1.00,1.000,1.00,1.000000e+00,1.000000e+00

In [6]:
DataTransform.convert_columns(df)

id                                int64
member_id                         int64
loan_amount                       int64
funded_amount                   float64
funded_amount_inv               float64
term                             object
int_rate                        float64
instalment                      float64
grade                          category
sub_grade                        object
employment_length                object
home_ownership                   object
annual_inc                      float64
verification_status              object
issue_date                       object
loan_status                      object
payment_plan                     object
purpose                          object
dti                             float64
delinq_2yrs                       int64
earliest_credit_line             object
inq_last_6mths                    int64
mths_since_last_delinq          float64
mths_since_last_record          float64
open_accounts                     int64
total_accounts                    int64
out_prncp                       float64
out_prncp_inv                   float64
total_payment                   float64
total_payment_inv               float64
total_rec_prncp                 float64
total_rec_int                   float64
total_rec_late_fee              float64
recoveries                      float64
collection_recovery_fee         float64
last_payment_date                object
last_payment_amount             float64
next_payment_date                object
last_credit_pull_date            object
collections_12_mths_ex_med      float64
mths_since_last_major_derog     float64
policy_code                       int64
application_type                 object
dtype: object